CF_SERVER_SECRET="Changeme"
# FLASK endpoint of the recorder
CF_RECORDER_FLASK_BASE="http://localhost:5050"
# Main data directory
CF_DATA_DIR="data"

DB_NAME=AIdiagnosticsupport
DB_USER=postgres
DB_HOST=localhost
# For password authenticated users:
#DB_PASSWORD=changeme